@charset "UTF-8";

/* CSS DOCUMENT */

a:link, a:visited {
 	text-decoration:none;
 	color: inherit;
}

a:hover, a:active {
	text-decoration:none;
	color: #544343;
}

ul li {
	display: inline-block;
}

.hidden{
	display: none;
}

/*Main Container */
#mainContainer {
  margin: 0 auto;
  width: 1080px;
  text-align: center;
  font-size: 16px;
}
/* -- HEADER -- */
.headerContainer{
  height: 140px;
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav {
  height: 50px;
  width: 850px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}
.nav li {
  padding-right: 40px;
  padding-left: 40px;
}

.logo{
  width: 100px;
  height: 100px;
  background-color: black;
}

.socialHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* -- HERO IMG -- */
.mainHero img{
  width: 1080px;
  height: 430px;
  border-radius: 5px;
}
.hero img{
  width:1080px;
  height: 400px;
  margin-top: 40px;
  border-radius: 5px;
}

/* WELCOME PAGE BEGINS*/
#mainImage{
  width: 1080px;
  height: 600px;
  margin: 0 auto;
  margin-top: 40px;
}
.mainButton{
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.enter{
  width: 400px;
  height: 50px;
  background-color: blue;
  margin-top: 10px;
}

/* HOME PAGE BEGINS */
.buttonContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.navButton {
  width: 460px;
  height: 260px;
  margin: 40px 40px 0px 40px;
}

/* ABOUT PAGE BEGINS */

.ourStory{
  width: 1020px;
  margin: 0 auto;
  margin-top: 40px;
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
}
.ourStory h2{
  padding: 40px 20px 20px 20px;
}
.ourStory p{
  text-align: left;
  padding: 0 20px 40px 20px;
  font-size: 16px;
  line-height: 20px;
}

.galleryContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}

.galleryContainer img{
  width: 320px;
  height: 280px;
  margin-top: 40px;
  border-radius: 5px;
}
.button{
  width: 600px;
  height: 80px;
  margin-top: 40px;
  margin: 0 auto;
  border-radius: 5px;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8f0222+0,a90329+47,a90329+47,6d0019+100 */
  background: rgb(143,2,34); /* Old browsers */
  background: -webkit-linear-gradient(rgba(143,2,34,1) 0%, rgba(169,3,41,1) 47%, rgba(169,3,41,1) 47%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(rgba(143,2,34,1) 0%, rgba(169,3,41,1) 47%, rgba(169,3,41,1) 47%, rgba(109,0,25,1) 100%);
  background: linear-gradient(rgba(143,2,34,1) 0%, rgba(169,3,41,1) 47%, rgba(169,3,41,1) 47%, rgba(109,0,25,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}
.button p {
  padding: 30px;
}
/* BEER PAGE BEGINS */
.beer{
  width: 1080px;
  height: 430px;
  background-color: black;
  margin-top: 10px;
}
.beer img{
  width: 1080px;
}

.float{
  width: 500px;
  height: 340px;
  float: right;
  margin-right: 40px;
  margin-top: 45px;
  color: white;
}
.float h3{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
.float p{
  font-size: 20px;
  line-height: 28px;
}

/* CAREERS PAGE BEGINS */
.aboutTeam{
  width: 1080px;
  height: 400px;
  margin-top: 40px;
}
.careerOptions{
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.career{
  width: 460px;
  height: 260px;
  margin: 40px 40px 0px 40px;
}
/* CONTACT PAGE BEGINS */
.infoContainer{
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.info{
  width: 460px;
  height: 260px;
  margin: 40px 40px 0px 40px;
}
.map{
  width: 1080px;
  height: 360px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contactContainer{
  width: 1020px;
  height: 460px;
  background-color: black;
  margin: 0 auto;
}
.contactForm{
  width: 420px;
  height: 380px;
  background-color: white;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
}

/* -- Items on Multiple Pages */
.update {
  width: 1080px;
  height: 200px;
  margin-top: 40px;
}
.largeButton img{
  width: 1080px;
  height: 200px;
  margin-top: 40px;
}
.floatText{
  float: left;
}

/* -- FOOTER -- */
.footerContainer {
  width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  border-top: 1px solid black;
}
.footerNav ul li{
  padding: 30px;
}
