@charset "UTF-8";

/* CSS DOCUMENT */
@keyframes SlideIn {
  0%{ transform: translateX(-800px);
  }
  100%{transform: translateX(0px);
  }
}

/*Main Container */
#mainContainer {
  margin: 0 auto;
  width: 1080px;
  text-align: center;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}

/* Some Resets*/
a:link, a:visited {
 	text-decoration:none;
 	color: inherit;
}

a:hover, a:active {
	text-decoration:none;
	color: #544343;
}

ul li {
	display: inline-block;
}

.hidden{
	display: none;
}
.selected {
	color: #544343;
}
h2{
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 22px;
}
h3{
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 20px;
}
p{
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
}

/* -- HEADER -- */
.headerContainer{
  height: 180px;
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 1080px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.nav li {
  padding-right: 40px;
  padding-left: 40px;
}
.search{
  float: left;
  padding: 10px 0px 10px 10px;
  margin-top: 10px;
}
.search input{
  padding: 5px;
  font-size: 15px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  border-radius: 20px;
}

.logo img{
  width: 250px;
  padding-top: 20px;
  margin-right: 100px;
}

.socialHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;

}

/* -- HERO IMG -- */
.mainHero img{
  width: 1080px;
  height: 430px;
  border-radius: 5px;
}
.hero img{
  width:1080px;
  height: 400px;
  margin-top: 20px;
  border-radius: 5px;
}

/* WELCOME PAGE BEGINS*/
.mainImage{
  width: 1080px;
  margin: 0 auto;
  padding: 20px 0px;
}

.mainImage img{
  width: 1000px;
  animation: 2s ease-in 0s 1 both SlideIn;
}

.mainButton{
  width: 100px;
  padding: 20px;
  background-color: black;
  color: white;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
.mainButton:hover{
  transform: translateY(-2px);
  transition: all .2s;
}

/* HOME PAGE BEGINS */
.buttonContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.navButton {
  width: 460px;
  height: 260px;
  margin: 40px 40px 0px 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
.navButton:hover{
  transform: translateY(-2px);
  transition: all .2s;
}

.navButton p{
  margin: 80px 20px 80px 20px;
  font-size: 50px;
  color: white;
  padding: 30px;
  font-weight: bolder;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
.backgroundHome1{
  width: 460px;
  height: 260px;
  background-image: url("../images/home_about.png");
  background-size: cover;
}
.backgroundHome2{
  width: 460px;
  height: 260px;
  background-image: url("../images/home_beer.png");
  background-size: cover;
}
.backgroundHome3{
  width: 460px;
  height: 260px;
  background-image: url("../images/home_careers.png");
  background-size: cover;
}
.backgroundHome4{
  width: 460px;
  height: 260px;
  background-image: url("../images/home_contact.png");
  background-size: cover;
}

/* ABOUT PAGE BEGINS */

.ourStory{
  width: 1020px;
  margin: 0 auto;
  margin-top: 40px;
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
}
.ourStory h2{
  padding: 40px 20px 20px 20px;
}
.ourStory p{
  text-align: left;
  padding: 0 20px 40px 20px;
  font-size: 16px;
  line-height: 20px;
}

.galleryContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
}

.galleryContainer img{
  width: 320px;
  height: 280px;
  margin-top: 40px;
  border-radius: 5px;
}

/* BEER PAGE BEGINS */

.beerTitle{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 20px 0px;
  padding: 20px 0px;
}
.beerTitle h2{
  font-size: 42px;
}
.beer{
  width: 1080px;
  height: 370px;
  margin-top: 20px;
  color: white;
}
.backgroundBeer1{
  width: 1080px;
  height: 370px;
  background-image: url("../images/beer_copperLager.png");
  background-size: cover;
  border-radius: 5px;
}
.backgroundBeer2{
  width: 1080px;
  height: 370px;
  background-image: url("../images/beer_select.png");
  background-size: cover;
  border-radius: 5px;
}
.backgroundBeer3{
  width: 1080px;
  height: 370px;
  background-image: url("../images/beer_Blacklager.png");
  background-size: cover;
  border-radius: 5px;
}
.backgroundBeer4{
  width: 1080px;
  height: 370px;
  background-image: url("../images/beer_chelada.png");
  background-size: cover;
  border-radius: 5px;
}

.float{
  width: 500px;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 40px;
  background-color: rgba(255, 0, 0, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.float h3{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px;
}
.float p{
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* CAREERS PAGE BEGINS */
.aboutTeam{
  width: 1080px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.aboutTeam h2{
  padding: 20px;
  margin-top: 20px;
}
.aboutTeam p{
  width: 800px;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 40px;
  line-height: 20px;
}

.careerOptions{
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}
.career{
  width: 490px;
  height: 250px;
  margin: 20px 20px 20px 20px;
  border: 1px solid black;
}
.career h3{
  margin: 20px 20px 0 20px;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(24, 24, 24, 0.4);
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
.career p{
  padding: 20px 10px 40px 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  word-spacing: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(24, 24, 24, 0.4);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
.background1{
  width: 490px;
  height: 250px;
  background-image: url("../images/careers_farmer.png");
  background-size: cover;
  border-radius: 10px;
}
.background2{
  width: 490px;
  height: 250px;
  background-image: url("../images/careers_brewMaster.png");
  background-size: cover;
  border-radius: 10px;
}
.background3{
  width: 490px;
  height: 250px;
  background-image: url("../images/careers_managment.png");
  background-size: cover;
  border-radius: 10px;
}
.background4{
  width: 490px;
  height: 250px;
  background-image: url("../images/careers_tasteTester.png");
  background-size: cover;
  border-radius: 10px;
}
/* CONTACT PAGE BEGINS */
.infoContainer{
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.info{
  width: 200px;
  margin: 40px 40px 20px 40px;
}
.info img{
  width: 200px;
  border-radius: 5px;
}

.info p{
  padding: 20px;
}

.contactContainer{
  width: 1020px;
  margin: 0 auto;
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.contactArea{
  width: 480px;
  background-color: white;
  margin-top: 40px;
}
.contactArea h2{
  margin-top: 30px;
  text-align: left;
  margin-left: 40px;
}
.contactArea p{
  padding: 40px;
  line-height: 22px;
  font-size: 18px;
  text-align: left;
}
#contactForm{
  padding: 40px;
  text-align: left;
  line-height: 30px;
  border: 5px solid #C8102E;
  border-radius: 5px;
  font-size: 16px;
}
#contactForm input{
  display: block;
  padding: 5px;
}

/* -- Items on Multiple Pages */
.update img{
  width: 1080px;
  height: 300px;
  margin-top: 40px;
  border-radius: 5px;
}
.largeButton{
  box-shadow: 0 1px 4px rgba(0,0,0,.6);
  background-color: #C8102E;
  border-radius: 5px;
}

.largeButton:hover{
  background: rgb(143,2,34); /* Old browsers */
  background: -webkit-linear-gradient(rgba(143,2,34,1) 0%, rgba(169,3,41,1) 47%, rgba(169,3,41,1) 47%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(rgba(143,2,34,1) 0%, rgba(169,3,41,1) 47%, rgba(169,3,41,1) 47%, rgba(109,0,25,1) 100%);
  background: linear-gradient(rgba(143,2,34,1) 0%, rgba(169,3,41,1) 47%, rgba(169,3,41,1) 47%, rgba(109,0,25,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  border-radius: 5px;
}
.largeButton a{
  color: white;
  width: 1080px;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.largeButton a p {
  margin-top: 20px;
  padding: 20px;
  font-size: 40px;
}

/* -- FOOTER -- */
.footerContainer {
  width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footerNav{
  padding-bottom: 10px;
  padding-top: 10px;
  width: 1080px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.footerNav li{
  padding-right: 40px;
  padding-left: 40px;
}
